@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #efefef;
}

/* -----------  DASHBORAD   ----------- */
.card-link {
  cursor: pointer;
}

.card-link:hover {
  background-color: #155d20;
  color: #fff;
}

.card-link:hover .card-title,
.card-link:hover .card-text {
  color: #fff;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
    width: 300px;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 15px;
}

#sidebar.collapsed {
    width: 75px;
}

#sidebar.animate {
    transition: width 0.25s ease-in-out;
}

/* ---------- LOGO ---------- */

.sidebar-logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 10px 15px;           
    box-sizing: border-box;
}

.sidebar-logo a {
    display: flex;
    align-items: center;
    width: 100%;
    color: #000;
    text-decoration: none;
}

.sidebar-logo i {
    font-size: 36px;
    flex-shrink: 0;
    margin-left: 5px;
    margin-right: 27px;
}

.sidebar-logo span {
    display: inline-block;
    white-space: nowrap;
    font-size: 32px;
    font-style: 'Poppins';
    font-weight: 500;
}

#sidebar.collapsed .sidebar-logo span {
    display: none;
}

/* SIDEBAR MENU STYLES */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 5px;
    flex-direction: column;
}

.logout-list {
  margin-top: auto;
}

.sidebar-link.active {
    background-color: #155d20;
    border-radius: 8px;
    font-weight: 500;
}

.sidebar-link.active i,
.sidebar-link.active .sidebar-label {
    color: #fff;
}

/* ---------- LINKS ---------- */

#sidebar .sidebar-link {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    color: #000;
    text-decoration: none;
    gap: 12px;
}

#sidebar .sidebar-link i {
    flex-shrink: 0;
    margin-right: 20px;
    line-height: 1;
    transition: 0.2s ease;
}

#sidebar.collapsed .sidebar-link span {
    display: none;
}

/*  SIDEBAR ICON LINK MENU STYLES */

a.sidebar-link:hover:not(.active) {
    background-color: #dedede;
    border-radius: 8px;
}

a.sidebar-link:active:not(.active) {
    background-color: #c7c7c7;
    transition: background-color 0.15s ease;
}

a.sidebar-link:hover:not(.active) i,
a.sidebar-link:hover:not(.active) .sidebar-label {
    color: #155d20;
    font-weight: 500;
}

/* ---------- NAVBAR BUTTONS ---------- */

.toggler-btn {
    margin-left: 1rem;
    background: transparent;
    border: none;
    border-radius: 50%;        
    width: 45px;                 
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.toggler-btn i {
    font-size: 1.5rem;
    color: #000;
}

.toggler-btn:hover {
    background-color: rgba(0,0,0,0.05);
}

.toggler-btn:active {
    background-color: rgba(0,0,0,0.15);
}

.toggler-btn:active i {
    color: #222;
}

.navbar {
    padding: 1.15rem 1.5rem;
}

.sidebar-navbar {
    flex: 1 1 auto;
}

#page-title {
    font-size: 1.5rem; 
}

.sidebar-header {
    color: #000;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

.sidebar-label {
    font-size: 1.125rem;
}


/* ---------- LOGIN --------- */
body {
    font-family: 'Poppins', sans-serif;
    background: #dedede;
}
/*------------ Login container ------------*/
.box-area{
    width: 400x;
}
/*------------ Right box ------------*/
.right-box{
    padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

.login-card {
    max-width: 400px;
    width: 100%;
    border-radius: 1rem;
}

.login-card .form-control {
    height: 45px;
}

.singup-card {
    max-width: 800px;
    width: 100%;
    border-radius: 1rem;
}

.signup-card .form-control {
    height: 45px;
}

/* ------------------- INVALID FEEDBACKS HIGHLIGHTS --------------------- */

.invalid-feedback {
    display: none;
    color: red;
    font-size: 1rem;
    margin-top: 0.25rem;
}

.is-invalid {
    border-color: red !important;
}