{% extends "base.html" %}
{% block title %}Colleges{% endblock %}
{% block body %}
<div class="container-fluid p-4 rounded-4 bg-white shadow-sm">
    <h3>Manage Colleges</h3>
    <p style="font-size: 20px;">Create, organize, and maintain information about all colleges.</p>


    <table id="data-table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">College Code</th>
                <th scope="col">College Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for college in colleges %}
            <tr>
                <th scope="row">{{ college.college_code }}</th>
                <td>{{ college.college_name }}</td>
                <td>
                    <a href="#" class="btn btn-primary btn-edit" data-bs-toggle="modal"
                        data-bs-target="#editCollegeModal" data-college-code="{{ college.college_code }}"
                        data-college-name="{{ college.college_name }}">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a href="#" class="btn btn-danger btn-delete" data-bs-toggle="modal"
                        data-bs-target="#deleteCollegeModal" data-college-code="{{ college.college_code }}">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#registerCollegeModal">
        <i class="bi bi-plus-lg"></i> Register
    </a>

</div>

<!-- REGISTER COLLEGE MODAL -->
<div class="modal fade" id="registerCollegeModal" tabindex="-1" aria-labelledby="registerCollegeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="registerCollegeModalLabel">Register College</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="registerCollegeForm" method="POST" action="{{ url_for('college.register_college') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="registerCollegeCode" class="form-label">College Code</label>
                        <input type="text" class="form-control" id="registerCollegeCode" name="college_code" placeholder="e.g. CCS"
                             maxlength="20" required>
                        <div class="invalid-feedback" id="registerCollegeCodeError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="registerCollegeName" class="form-label">College Name</label>
                        <input type="text" class="form-control" id="registerCollegeName" name="college_name"
                            placeholder="e.g. College of Computer Studies" maxlength="255" required>
                        <div class="invalid-feedback" id="registerCollegeNameError"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg"></i> Close
                    </button>
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-plus-lg"></i> Register
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- EDIT COLLEGE FORM MODAL -->
<div class="modal fade" id="editCollegeModal" tabindex="-1" aria-labelledby="editCollegeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="editCollegeModalLabel">Edit College</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="editCollegeForm" method="POST" action="{{ url_for('college.edit_college') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="modal-body">
                    <input type="hidden" id="originalCollegeCode" name="original_code">
                    <div class="mb-3">
                        <label for="editCollegeCode" class="form-label">College Code:</label>
                        <input type="text" class="form-control" id="editCollegeCode" name="college_code" placeholder="e.g. CCS"
                            maxlength="20" required>
                        <div class="invalid-feedback" id="editCollegeCodeError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="editCollegeName" class="form-label">College Name:</label>
                        <input type="text" class="form-control" id="editCollegeName" name="college_name"
                            placeholder="e.g. College of Computer Studies" maxlength="255" required>
                        <div class="invalid-feedback" id="editCollegeNameError"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg"></i> Close
                    </button>
                    <button type="submit" form="editCollegeForm" class="btn btn-success">
                        <i class="bi bi-pencil-square me-1"></i> Save Changes
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- DELETE COLLEGE MODAL -->
<div class="modal" id="deleteCollegeModal" tabindex="-1" aria-labelledby="deleteCollegeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="deleteCollegeModalLabel">College Deletion Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mt-3">
                    Are you sure you want to delete this college data? All programs under this college will be affected.
                    Likewise, students under those programs will also be affected.
                </p>
            </div>
            <div class="modal-footer justify-content-right">
                <form id="deleteCollegeForm" method="POST" action="{{ url_for('college.delete_college') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" id="deleteCollegeCode" name="college_code">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> 
                        <i class="bi bi-x-lg"></i> Cancel
                    </button>
                    <button type="submit" class="btn btn-danger"> 
                        <i class="bi bi-trash"></i> Confirm 
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- CONFIRMATION MODAL -->
<div class="modal" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="confirmationModalLabel">Action Successful</h5>
            </div>
            <div class="modal-body">
                <p class="mt-3" id="confirmationModalMessage">The action has been successfully completed.</p>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"> Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}