{% extends "auth.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="login-card p-4 bg-white shadow rounded-4">
            <div class="header-text mb-4 text-center">
                <h2>Sphere</h2>
                <h4>Student Information System</h4>
                <p>Log in to continue</p>
            </div>

            <div class="mb-3">
                {{ form.username(class="form-control form-control-lg bg-light fs-6" + (" is-invalid" if form.username.errors else ""), placeholder="Username") }}
                {% for error in form.username.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>

            <div class="mb-4">
                {{ form.password(class="form-control form-control-lg bg-light fs-6" + (" is-invalid" if form.password.errors else ""), placeholder="Password") }}
                {% for error in form.password.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>

            {{ form.submit(class="btn btn-success btn-lg w-100 mb-3") }}

            <div class="text-center">
                <p>Don't have an account?
                    <a href="{{ url_for('user.signup') }}">Sign Up</a>
                </p>
            </div>
        </div>
    </div>
</form>
{% endblock %}