{% extends "auth.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="signup-card p-4 bg-white shadow rounded-4">
            <div class="header-text mb-4 text-center">
                <h2>Sphere</h2>
                <h5>Create your account to get started.</h5>
                <p>It's quick and easy.</p>
            </div>

            <form method="post">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    <label for="username" class="form-label mb-1">Enter your username</label>
                    {{ form.username(class="form-control form-control-lg bg-light fs-6", placeholder="Username") }}
                    {% for error in form.username.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label mb-1">Enter your email</label>
                    {{ form.email(class="form-control form-control-lg bg-light fs-6", placeholder="Email") }}
                    {% for error in form.email.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label mb-1">Enter your password</label>
                    {{ form.password(class="form-control form-control-lg bg-light fs-6", placeholder="Password") }}
                    {% for error in form.password.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="confirm_password" class="form-label mb-1">Confirm password</label>
                    {{ form.confirm_password(class="form-control form-control-lg bg-light fs-6", placeholder="Re-enter your password") }}
                    {% for error in form.confirm_password.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>

                {{ form.submit(class="btn btn-success btn-lg w-100 mt-3 mb-3") }}
            </form>

            <div class="text-center">
                <p>Already have an account?
                    <a href="{{ url_for('user.login') }}">Log In</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}